version: '3.8'

services:

    db:
      image: postgres:16.1
      container_name: db-chinomarket
      restart: always
      volumes:
        - ./sql/create_schema.sql:/docker-entrypoint-initdb.d/create_schema.sql
        - ./sql/data.sql:/docker-entrypoint-initdb.d/data.sql
      environment:
        POSTGRES_DB: 'chinomarket'
        POSTGRES_USER: 'chinomarketserver'
        POSTGRES_PASSWORD: 'chinomarket2025'
      ports:
        - '5435:5432'
